*{
    margin: 0;
    padding: 0;
    background-color: rgb(243, 248, 250);
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 10px;

}

.form-control *{
    display: block;
    width: 220px;
    padding: .375rem .75rem;
    font-size: 15px;
    font-weight: 200px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.form-testo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 10px;
}

.form-testo *{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 15px;
    font-weight: 200px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}



.nueva-solicitud {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(161, 208, 251);
    padding-bottom: 30px;
    margin-right: 2px;
    width: 18em;
    min-width: 320px;
    
}



.controles-departamentos{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(161, 208, 251);
    width: 77.9%;
}

.controles-area{
    display: flex;
    flex-direction: row;
}


.crear-solictud{
    display: flex;
    flex-direction: row;
}


.bot-image h2{
    margin-left: 90px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(172, 217, 246);
}

.datos-usuario{
    height: 4em;
    margin-bottom: 2px;
    border: 3px solid rgb(161, 208, 251);
    width: 94.6%;
    min-width: 300px;
}

.body-page{
    display: flex;
    flex-direction: column;
}

.datos-usuario ul{
    display:flex;
    flex-direction: row;
}

.datos-usuario ul li{
    margin-top: 5px;
    margin-left: 30px;
    color: darkblue;
}

.datos-usuarios *{
    color: rgb(68, 3, 3);
}

.header{
    display: flex;
    flex-direction: column;
}

.header img{
    width: 40%;
    margin-top: 10px;
}

.header h2{
    width: 40%;
}

.tabla-datos{
    display: flex;
    margin-top: 2px;

        width: 98%;
}

.tabla-datos table{
    padding: 20px;
 }

 .table {
     margin-top: 20px;
    --bs-table-bg:var(--bs-table-hover-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 99%;
    margin-left: 20px;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}


table {
    caption-side: bottom;
    border-collapse: collapse;
}


*, ::after, ::before {
    box-sizing: border-box;
}

table tr td{
    border: 2px solid rgb(161, 208, 251);

}